# Ігнорування всіх згенерованих і системних файлів
*.dSIM
*.idea/
cmake-build-debug/




# Ігнорування інших тимчасових файлів
*.log
*.tmp
*.bak

# Ігнорування файлів CMake кешу
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ігнорування виконуваних файлів
*.exe
*.out
*.obj
*.o
